---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDHV3R2uC7lA3CCuPZu3HzdPu9HI-bu3RM&location=40.7611,-73.9319&radius=500&rankby=prominence&type=beauty_salon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 40.76266,
                       "lng" : -73.92642599999999
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png",
                 "id" : "2c5662facf6f5489036f180832c42512b3d2c370",
                 "name" : "Beauty Palace Salon & Spa",
                 "opening_hours" : {
                    "open_now" : true,
                    "weekday_text" : []
                 },
                 "photos" : [
                    {
                       "height" : 572,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/103395073568512744945/photos\"\u003eBeauty Palace Salon &amp; Spa\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRdAAAA6C5QURawVedC9QkeYSfZ6wx-A-0zVvdDCW6ZqB6Muqw6nUzLpzlwy6DkFvJ5Kd45orm0n3I4beICEjcpgRUIlprIUSkaViV0wmW_UMPuIt9g0v4zOxmPcnXWEzpHHwHuEhBY_nZoQwmH0mwh74v71d4dGhROC2qqEFDocZdq2pTc2sRF5MC32Q",
                       "width" : 837
                    }
                 ],
                 "place_id" : "ChIJ1ywgJTdfwokRR1z60R__k-4",
                 "reference" : "CnRtAAAA90ng0JpSKsGgwUzkQjoBqj0cHgjbNZHmhxCRODhepyb2vCskEna7aN_nCj8xilgOeZEvATOc-OUQtjlIUidPHzkLh_YytKYcjOqaIuKIPe9UlVeyQut9n1zI5wGbSJvMpwhOdKmi84Jq41qf3b0ihRIQi6fArwdHTCUUqtTftaTYdRoUbmzfgPV_rQYws14ysCYoZ1dsGho",
                 "scope" : "GOOGLE",
                 "types" : [
                    "beauty_salon",
                    "spa",
                    "hair_care",
                    "point_of_interest",
                    "establishment"
                 ],
                 "vicinity" : "2911 Broadway, Long Island City"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 40.76204300000001,
                       "lng" : -73.9259081
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png",
                 "id" : "4dd0ec26b3f676c232838667bc533e1fbc1668ec",
                 "name" : "Priti Women Beauty & Boutique",
[...]
